
body {
  font-family: Arial;
  color: rgb(66, 110, 139);
  font-size: 20px;
  background-color: rgba(228, 227, 225, 0.906);
  text-align-last: center;
  margin: 15px;
  padding: 20px;
}

main {
  background-color: rgb(210, 208, 208);
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1175px;
}

header.main {
  align-content:center;
  font-family: Cambria, Georgia, serif;
  background-color: rgb(0, 77, 128);
  border-radius: 0.5rem;
  padding: 2px;
  text-shadow: 0.25px .05rem rgb(134, 121, 117);
  font-size: 18px;
  align-self: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 24px;
  text-shadow: 0.00px .00rem #ddd;
  color:rgb(4, 130, 130);
  height:35px;
  padding: 10px;
  margin: 10px;
}

.footer {
  font-size: 16px;
  color: purple;
}

.coded {
  font-family: Arial;
  font-size: 24px;
  background-color: rgb(126, 126, 126);
  text-align: center;
  color: wheat;
  padding: 40px;
  text-shadow: 0px;
  border-radius: 30px;
  border-style: solid;
  margin: auto;

}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(126, 126, 126);
  color: rgb(240, 179, 88);
  border-radius: 20px; 
  border-width: 10px;
  padding: 25px;
}
  
footer.main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 9px;
    color:purple;
    margin-top: 200px;
}
  
p.smaller {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(163, 93, 163);
}
.index {
  text-align: center;
}

.navbar {
    position: top;
    background-color: rgb(166, 186, 203);
    top: 10px;
    text-align: center;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-width: 20px;
    border: solid rgb(240, 179, 88);
    border-style: solid;
    border-radius: 0px;
}

.navbar a {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}


table {
width: auto;
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 10px;
border-style: solid;
border: 3px solid gray;
}

thead {
  color: rgb(188, 16, 16);
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color:rgb(166, 186, 203)}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color:rgb(240, 179, 88);
  text-align: center;
  height: 50px;
}

th, td {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid wheat;
}

tr, td {
  border: 2px;
  color:rgb(40, 136, 102);
  padding: 10px;
  height: 40px;
}

h1 {
  font-family: Calibri;
  text-align: center;
  background-color: rgb(0, 77, 128);
  border-radius: 0.5rem;
  color: rgb(240, 176, 150);
  text-shadow: 0.25px .05rem rgb(134, 121, 117);
  font-size: 60px;
  padding: 25px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: rgb(147, 144, 146);
  border-style: solid;
  border-radius: 0rem;
  border-width: auto;
  border-color: gray;
  color: rgba(228, 227, 225, 0.906);
  text-shadow: 0.2px .05rem rgb(134, 121, 117);
  font-size: 36px;
}

h3 {
font-size: 34px;
font-family: Arial, Helvetica, sans-serif;
color: rgba(228, 227, 225, 0.906);
text-shadow: 0.2px .05rem rgb(134, 121, 117);
size: 30px;
margin: auto;
padding: 10px;
height: 30px;
}

.box {
width: auto;
text-align: center;
margin-left: 50px;
margin-right: 50px;
margin-top: auto;
margin-bottom: auto;
padding: 10px;
border-style: solid;
border: 3px solid gray;
}

.box-sub {
text-align: center;
width: auto;
background: rgb(240, 179, 88);
text-align: center;
margin-left: 125px;
margin-right: 125px;
margin-top: auto;
margin-bottom: auto;
padding: 10px;
border-style: solid;
border: 3px solid gray;
}

.box-dot {
width: auto;
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 20px;
border-style: dotted;
border: 3px dotted rgb(166, 186, 203);

}

.add-db {
background:rgb(147, 144, 146);
color: white;
text-align: center;
width: auto;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 25px;
}



.search-db {
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
width: 600px;
margin-left: auto;
margin-right: auto;
margin-top: 10;
margin-bottom: 10;
background-color: rgb(147, 144, 146);
border-style: dotted;
border-radius: 0.5rem;
border-width: auto;
border-color: rgb(240, 179, 88);
padding: 0.2em 0.2em 0.2em 0.2em;
color: rgb(236, 172, 146);
text-shadow: 0.25px .05rem rgb(134, 121, 117);
font-size: 36px;
}


button {
  box-sizing: border-box;
  border-color: plum;
  font-family:'Verdana';
  font-size: 16px;
  width:fit-content;
  font-weight: bold;
  color:rgb(40, 136, 102);
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

input {
  font-family: 'Verdana';
  align-self: center;
  color: gray;
  height: 30px;
  border-color: rgb(222, 184, 222);
  border-style: line;
  width: fit-content;
  border:10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

select {
  font-family: 'Verdana';
  align-self: center;
  color: gray;
  height: 28px;
  border-color: rgb(222, 184, 222);
  border-style: line;
  width: fit-content;
  border:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

label {
  padding: 10px;
}


