<!-- index.hbs -->


<p>Please select one of the pages below to begin.</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<a href="/patients">Patients</a>
<a href="/doctors">Doctors</a>
<a href="/insurance-plans">Insurance Plans</a>
<a href="/patients-doctors">Patients' Doctors</a>

