<!-- index.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<body class="index">
    <div class="navbar">
        <a href="/patients">Patients</a>
        <a href="/doctors">Doctors</a>
        <a href="/patients-doctors">Patients' Doctors</a>
        <a href="/insurance-plans">Insurance Plans</a>
        <a href="/invoices">Invoices</a>
    </div>
    <section>
        </br>
        </br>
    </section>

    <img src="./img/Logo.jpg" alt="Coded Coverage Logo" width="350" class="image"
    <section>
    </br>
        <div class="coded">
                Welcome to Coded Coverage and our internal database! To keep track of all our payouts to in-network providers, all our employees regularly utilize this database driven website to track the 24 different insurance plans we offer, the nearly 15,000 patients that we cover, and the more than 23,000 invoices (bills from patient visits) that we receives annually from over 200 providers (doctors). Since not all doctors accept Coded Coverage plans and our plans don’t always cover or pay out to any and all doctors, this handy database helps keep track of: the invoices for bills we receives,whether or not they have been paid yet, if the invoices indeed meet requirements to be paid, and thus, what we, as the insurance company, have paid out to doctors. This system helps all our employees keep track of our company’s revenue at any requested interval (weekly, monthly, annually, etc), as well as keep track of any and all outstanding invoices.
        </div>
    </section>
</body>